.banner-container {
    width: 100vw;
    padding-top: 85px;
}
@media (max-width: 992px) {
    .banner-image {
        content: url('../../assets/contentBannerMd.jpg'); /* Imagem para larguras <= 992px */
    }
}

@media (max-width: 600px) {
    .banner-image {
        content: url('../../assets/contentBannersm.jpg'); /* Imagem para larguras <= 600px */
    }
}

.banner-image {
    width: 100%;
    height: auto;
    display: block; /* Remove o espaço extra abaixo da imagem */
}
